version: '3.8'

services:
  web:
    container_name: django_api
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - ENV_MODE=production
    env_file:
      - .env.prod
    depends_on:
      - db
  db:
    image: postgres:16
    env_file:
      - .env.prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data